.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.candidate-avatar {
  width: 110px; /* Set your desired width here */
  height: auto; /* Height will adjust automatically to preserve aspect ratio */
  margin: 8px;
}

#nav-mobile a {
  color: rgb(73, 73, 73);
  font-weight: 500;
}

.brand-logo {
  height: 100%;
}

/* Header styles */
.header {
  position: relative;
  padding: 1rem; /* Add padding as needed */
  flex: 1; /* This will make the header take up the remaining space */
  min-height: 100px; /* Set a minimum height for the header */
  display: flex; /* Use Flexbox to align content vertically */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  /* Add any other styles you need for the header */
}

/* Background image styles */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/kr-siparia.jpeg'); /* Set the path to your background image */
  background-size: cover; /* Adjust the background size to cover the entire container */
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image */
  z-index: -1; /* Move the background image behind other content */
}

/* Button styles */
.header-button {
  position: absolute !important;
  top: 70%; /* Positions the button vertically in the middle */
  left: 50%; /* Positions the button horizontally in the middle */
  transform: translate(-50%, -50%); /* Centers the button precisely */
  z-index: 1; /* Place the button on top of the background image */
  font-weight: bold;
  /* Add your specific styles for the button */
}

.header-footer {
  background-color: white; /* Set the white strip background color */
  position: absolute; /* Position the footer absolutely */
  bottom: 0; /* Place the footer at the bottom of the header container */
  left: 0; /* Adjust the position from the left if needed */
  width: 100%; /* Make the footer span the entire width of the header container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px; /* Set your desired height for the footer */
}

.header-footer img {
  /* Style the image inside the footer */
  max-width: 100%;
  max-height: 100%;
}

.socials {
  display: flex;
  align-items: center;
}

.socials a {
  margin-right: 20px; /* Adjust the spacing as per your preference */
}

/* Optional: Add some space to the left of the first icon */
.socials a:first-child {
  margin-left: 10px; /* Adjust the spacing as per your preference */
}

.socials img {
  max-width: 40px; /* Adjust the size as per your preference */
  height: auto; /* This will maintain the aspect ratio */
  margin: 0 5px; /* Add some spacing between the icons */
}

.modal {
  width: 70%;
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  max-width: 90%;
  max-height: 80%;
}

.modal-content video {
  width: 100%;
  height: 100%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* About component styles */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.about-banner img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.about-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-heading {
  color: #333;
  margin-bottom: 10px;
}

.about-paragraph {
  margin-bottom: 20px;
}
