.gallery-container {
    padding: 20px;
  }
  
  .carousel-title {
    text-align: center;
    font-family: 'Montserrat', serif;
    font-weight: bold;
  }
  
  .carousel {
    width: 80%;
    height: 600px !important;
    margin: 0 auto;
  }
  
  .carousel-item img {
    width: auto !important;
    height: 350px !important;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  .carousel .indicators {
    bottom: -30px;
  }
  